#ltp_main {
  height: 100%;
  background-color: #F3F4F6;

  .otp {
    height: 100%;

    .navbar {
      border-radius: 0;
      background-color: #efefef;
      margin: 0;
      color: #030712;
      border: none;
    }

    .navbar .container {
      margin-left: 0;
    }

    .navbar-brand {
      padding: 7px 10px;

      button {
        display: none;
      }

      a {
        margin-left: 10px !important;
      }
    }

    .navbar-brand .app-menu-icon .menu-line {
      border-bottom: 3px solid #030712;
    }

    .navbar-title {
      font-size: 24px;
      padding-top: 7px;
      color: #030712;
    }

    &.mobile .navbar-title {
      padding-top: 2px;
    }
  }

  /*.otp.mobile .welcome-map {*/
  /*  top: 0;*/
  /*  bottom: 120px;*/
  /*}*/

  /*.otp.mobile .welcome-location {*/
  /*  bottom: 0;*/
  /*}*/

  @media (max-width: 768px) {
    .otp {
      & > header {
        display: none;

        & + div {
          top: 10px;

          & + div {
            top: 70px;
          }
        }
      }

      & > .container {
        overflow-y: auto;
        height: 100%;

        & > .main-row {
          position: relative;
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 0;
          top: 0;

          & > .sidebar {
            order: 2;
            overflow-y: auto;
            height: calc(100% - 200px);
          }

          & > .map-container {
            height: 200px;
            order: 1;
          }
        }
      }

      .location-search {
        top: 0;

        & > [role='group'] {
          background-color: white;
        }
      }

      .batch-search-settings {
        top: calc(100vh - 176px);
        height: 176px;

        & > [role='group'] {
          background-color: white;
        }
      }

      .batch-search-map {
        top: 0;
        bottom: 176px;
      }

      ul#from-listbox li {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  #view-switcher {
    display: none;
  }

  .otp .view-switcher a, .otp .view-switcher a.active {
    color: inherit;
  }

  .main-row {
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px 15px;
  }

  /* Necessary for defining the height in the main panel nested elements. */
  .main-row main {
    height: 100%;
  }

  .sidebar {
    height: 100%;
    padding: 0;
    z-index: 1000;
  }

  .map-container {
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  .otp form {
    .from-form-control, .to-form-control {
      background-color: initial;
    }
  }

  .otp.print-layout > .map-container {
    height: 400px;
    margin-bottom: 30px;
  }

  .itinerary {
    #itinerary-menu {
      & > div {
        margin-top: -20px;

        &.percy-hide {
          margin-top: 20px;

          svg {
            font-size: 4em;
            color: #dd5928;
          }
        }
      }

      & > ul:first-child {
        margin: 0;
        background-color: #E5E7EB;

        & > li {
          grid-template-columns: 1fr 6fr;

          h3 {
            display: none;
          }

          p {
            margin: 10px 0 0 0;
            line-height: 1.1;
          }

          & > span {
            svg {
              font-size: 1.5em;
            }
          }
        }
      }

      .result {
        .itin-wrapper-small {
          .route-block-wrapper {
            svg {
              width: 40px;
            }
          }
        }
      }
    }

    &.false {
      #itinerary-menu {
        & > div {
          margin-top: 0;
          padding-bottom: 20px;
        }
      }
    }
  }

}
